<main>
    <div id="page_hero" class="hero_about">
        <div class="wrapper">
            <div class="page_hero_text">
                <div class="page_hero_pad">
                    <h1>About Pizza Nation</h1>
                    <p>Pizza Nation is web app where users can order products via shopping cart. They can register,
                        purchase products while on site and complete the order when they want, leave feedbacks, see
                        their
                        previous orders, see local stores and more.</p>
                    <p>App is consistent of two roles: user and moderator. Moderators has rights to support
                        the app needs like add/edit/delete menus, products, ingredients. There is also admin role,
                        which is a "God" object. Only admin can modify users data, change their roles, add/delete stores and see the logs.
                        Also admin email is used to interact with the users/he receives the feedbacks, from his email is
                        send the confirm one and "new promotional products" one./</p>
                    <p>The app is going to be extended a lot more, adding a functionality to the clients to track their
                        orders in real time, via providing Android app which the supposed courier will have up and
                        running on their phones.</p>
                    <!--<p>At Pizza Nation we believe that every person is an inventor and has the imagination to find the
                        formula for the best pizza! We are only giving you the ingredients for your success.</p>
                    <p>Two types of hand-kneaded dough, interesting sauces, variety of the best-quality cheeses,
                        selected meats, salami by original recipes and fresh vegetables. You formulate your pizza
                        and choose the toppings and we make it before your eyes!</p>
                    <p>And for those of you who are not feeling adventurous can choose one of our tested and proven
                        irresistible pizza suggestions! </p>-->
                </div>
            </div>
        </div>
    </div>
</main>