<main>
    <div class="wrapper">
        <div class="white_page content_on" id="tabpanel_1">
            <div class="page_pad">
                <div class="align_left">
                    <h1>Edit Product</h1>
                    <div class="pad10"><!-- spacer --></div>

                    <div class="errorbox align_center" th:if="${edit_product_error} != null"
                         th:text="${edit_product_error}"></div>

                    <form name="form_login" method="post"
                          th:action="@{/admin/products/edit/{name}(name=${model.getName()})}"
                          th:object="${model}">
                        <div class="form">

                            <label for="name">Product Name*</label>

                            <!--required="required" maxlength="50"-->
                            <input type="text" id="name" name="name" placeholder="Product name" class="form_item"
                                   th:field="*{name}"/>

                            <div class="pad5"><!-- spacer --></div>

                            <label for="details">Details*</label>

                            <!--required="required" maxlength="100"-->
                            <input type="text" id="details" name="details" placeholder="Details" class="form_item"
                                   th:field="*{details}"/>

                            <div class="pad5"><!--spaces--></div>

                            <label for="ingredientsIds">Ingredients Included</label>
                            <select multiple="" class="form_item" id="ingredientsIds" th:field="*{ingredientsIds}">
                                <option th:each="ingredient : ${ingredientsList}" th:value="${ingredient.getId()}"
                                        th:text="${ingredient.getName()}">1
                                </option>
                            </select>

                            <div class="pad10"><!-- spacer --></div>

                            <label><input type="checkbox" th:field="*{promotional}"> Is Promotional ?</label>

                            <div class="pad10"><!-- spacer --></div>

                            <input type="submit" name="edit-prod-btn" class="button_flat button_flat_green"
                                   value="Edit Product"/>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</main>