<main>
    <div id="content_page">

        <div class="offset_page page_bckgrnd_img">
            <div class="wrapper">

                <div class="entry_spacer"><!-- --></div>

                <th:block th:if="${model.getNewest()} != null">
                    <div class="entry_block_1 shadow_element">
                        <div class="eb_right">
                            <div class="eb_text">
                                <h3>Newest Product</h3>
                                <p th:text="|Try out our newest masterpiece - ${model.getNewest().getName()}|"></p>
                                <a th:id="${model.getNewest().getName()}"
                                   class="button_flat button_flat_red add_to_cart_btn">Add To
                                    Cart</a>
                            </div>
                        </div>
                        <div class="eb_left">
                            <img th:src="${model.getNewest().getImage().getUrl()}" width="700" height="350"
                                 alt="Pizza Nation Desserts" title="" border="0">
                        </div>
                        <div class="clear"><!-- clear --></div>
                    </div>

                    <div class="entry_spacer"><!-- --></div>

                </th:block>

                <th:block th:if="${model.getBestSeller()} != null">
                    <div class="entry_block_1 shadow_element">
                        <div class="eb_right">
                            <div class="eb_text">
                                <h3>Best seller</h3>
                                <p th:text="|This is the best selling product for now - ${model.getBestSeller().getName()}|"></p>
                                <a th:id="${model.getBestSeller().getName()}"
                                   class="button_flat button_flat_red add_to_cart_btn">Add To
                                    Cart</a>
                            </div>
                        </div>
                        <div class="eb_left">
                            <img th:src="${model.getBestSeller().getImage().getUrl()}" width="700" height="350"
                                 alt="Pizza Nation Desserts" title="" border="0">
                        </div>
                        <div class="clear"><!-- clear --></div>
                    </div>

                    <div class="entry_spacer"><!-- --></div>

                </th:block>

                <th:block th:if="${model.getPromotional()} != null">
                    <div class="entry_block_1 shadow_element">
                        <div class="eb_right">
                            <div class="eb_text">
                                <h3>On Sale</h3>
                                <p th:text="|One of our promotional products right now - ${model.getPromotional().getName()}|"></p>
                                <a th:id="${model.getPromotional().getName()}"
                                   class="button_flat button_flat_red add_to_cart_btn">Add To
                                    Cart</a>
                            </div>
                        </div>
                        <div class="eb_left">
                            <img th:src="${model.getPromotional().getImage().getUrl()}" width="700" height="350"
                                 alt="Pizza Nation Desserts" title="" border="0">
                        </div>
                        <div class="clear"><!-- clear --></div>
                    </div>

                    <div class="entry_spacer"><!-- --></div>

                </th:block>

                <div class="entry_block_2 shadow_element">
                    <div class="eb_left">
                        <div class="eb_text">
                            <h2>Mobile App</h2>
                            <p>Pizza Nation mobile app is going to be released when i complete the SoftUni Android
                                course.</p>
                            <a class="button_flat button_flat_red">Find out more</a>
                        </div>
                    </div>
                    <div class="eb_right">
                        <img th:src="@{/img/info/phone.jpg}" width="700" height="350"
                             alt="Pizza Nation fresh dough, though" title="" border="0">
                    </div>
                    <div class="clear"><!-- clear --></div>
                </div>

                <div class="entry_spacer"><!-- --></div>

            </div>
        </div>
        <div id="content_page_bottom"><!-- --></div>
    </div>
</main>