<main>
    <div class="wrapper">
        <div class="page_pad">

            <p id="fullGreeting">Hello, <span id="greeting" th:text="${#authentication.getPrincipal().getUsername()}"></span>.
                Here you can edit your profile.
            </p>

            <div class="pad10"></div>

            <div class="account_box_wrap">
                <div class="account_box curve_me_3 shadow_element scale_me_hover">
                    <a href="#">
                        <i class="account_icon ion-log-out"></i>
                        <span class="title">View last order</span>
                        <span class="desc">See what you ordered last.</span>
                    </a>
                </div>
            </div>

            <div class="account_box_wrap">
                <div class="account_box curve_me_3 shadow_element scale_me_hover">
                    <a href="#">
                        <i class="account_icon ion-ios-list-outline"></i>
                        <span class="title">Orders</span>
                        <span class="desc">List with your orders /0/.</span>
                    </a>
                </div>
            </div>

            <!--<div class="account_box_wrap">
                <div class="account_box curve_me_3 shadow_element scale_me_hover">
                    <a href="#">
                        <i class="account_icon ion-ios-book-outline"></i>
                        <span class="title">My address book</span>
                        <span class="desc">1 address saved.</span>
                    </a>
                </div>
            </div>-->

            <div class="account_box_wrap">
                <div class="account_box curve_me_3 shadow_element scale_me_hover">
                    <a href="/account/settings">
                        <i class="account_icon ion-ios-gear-outline"></i>
                        <span class="title">Account settings</span>
                        <span class="desc">Edit your details.</span>
                    </a>
                </div>
            </div>

            <div class="account_box_wrap">
                <div class="account_box curve_me_3 shadow_element scale_me_hover">
                    <a href="/contactUs">
                        <i class="account_icon ion-ios-email-outline"></i>
                        <span class="title">Contact support</span>
                        <span class="desc">We will cooperate in case of problem.</span>
                    </a>
                </div>
            </div>

            <div class="account_box_wrap">
                <div class="account_box curve_me_3 shadow_element scale_me_hover">
                    <a href="/logout">
                        <i class="account_icon ion-key"></i>
                        <span class="title">Log out</span>
                        <span class="desc">Log out from Pizza Nation.</span>
                    </a>
                </div>
            </div>

            <div class="clear"><!-- clear --></div>

            <!--<div class="pad25"></div>-->

        </div>
    </div>
</main>