<main xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="page-wrap">
        <div class="divTable">

            <form method="post" th:action="@{/admin/product/{name}/ingredients(name=${productName})}"
                  th:object="${model}">
                <table>
                    <tr>
                        <th>#</th>
                        <th>Ingredient Name</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                    </tr>

                    <th:block th:each="ingredient,iter : ${model.ingredients}">
                        <tr>
                            <td th:text="${iter.index + 1}"></td>
                            <td><input type="text" class="form_item" th:field="*{ingredients[__${iter.index}__].name}"
                                       disabled="disabled">
                            </td>
                            <td><input type="number" step="0.001" class="form_item" value="0"
                                       th:field="*{ingredients[__${iter.index}__].quantity}" disabled="disabled"></td>
                            <td>
                                <select class="form_item" th:field="*{ingredients[__${iter.index}__].unit}"
                                        disabled="disabled">
                                    <option th:each="unit : ${unitsList}" th:value="${unit}"
                                            th:text="${#strings.capitalize(#strings.toLowerCase(unit))}">1
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </th:block>
                </table>

                <input type="submit" class="button_flat button_flat_green" value="Set Ingredients">
                <div class="pad10"></div>
            </form>

        </div>
        <div class="pad10"></div>
    </div>
</main>