<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:if="${pageTitle}" th:text="${pageTitle}"></title>
    <link th:href="@{/css/base.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/forms.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/core.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/ionicons.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/fonts-googleapis.css}" rel="stylesheet" type="text/css"/>

    <th:block th:if="${headCssIncludeFiles} != null" th:each="headCssFile: ${headCssIncludeFiles}">
        <link th:href="@{${headCssFile}}" rel="stylesheet" type="text/css"/>
    </th:block>
</head>