<div id="mobnav" class="mobile_navigation" th:fragment="mobile_navigation">
    <!--style="display: none;"-->
    <ul id="mobile_navigation">
        <li>
            <a th:href="@{/menu}">
                <span class="paddy">
                    <i class="icon ion-pizza"></i>
                    Menu
                </span>
            </a>
        </li>
        <li>
            <a th:href="@{/stores}">
                <span class="paddy">
                    <i class="icon ion-location"></i>
                    Stores
                </span>
            </a>
        </li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/login}">
                <span class="paddy">
                    <i class="icon ion-key"></i>
                    Log in
                </span>
            </a>
        </li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/register}">
                <span class="paddy">
                    <i class="icon ion-plus"></i>
                    Register
                </span>
            </a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/account}" class="cart">
                <span class="paddy">
                    <i class="icon ion-person"></i>
                    Account
                </span>
            </a>
        </li>
    </ul>
    <div class="clear"><!-- --></div>
</div>