/* Shopping cart Style */

#cartform_table_title {
    font-size: 18px;
}

div.div_padded_table div.tr div.cart1 {
    width: 50px;
    float: left;
}

div.div_padded_table div.tr div.cart2 {
    width: 420px;
    float: left;
    font-size: 13px;
}

div.div_padded_table div.tr div.cart3 {
    width: 80px;
    float: left;
    font-size: 13px;

}

div.div_padded_table div.tr div.cart_remove_div {
    width: 80px;
    width: 56px;
    float: right;
    text-align: right;
}

div.div_padded_table {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
}

div.div_padded_table div.tr {
    padding: 8px;
    line-height: 1.5em;
    font-size: 11px;
}

div.div_padded_table div.tr div.td1 {
    width: 110px;
    float: left;
}

div.div_padded_table div.tr div.td2 {
    width: 360px;
    float: left;
}

div.div_padded_table div.tr div.td3 {
    width: 80px;
    float: left;
}

div.div_padded_table div.tr div.td4 {
    width: 80px;
    float: left;
}

div.table_header {
    font-weight: bold;
    color: #222222;
    font-size: 14px;
    border-bottom: 1px solid #EEEEEE;
}

div.div_padded_table div.even {
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
}

div.div_padded_table div.odd {
    background: #F7F7F7;
    border-bottom: 1px solid #EEEEEE;
}

/*Responsive*/
@media only screen and (min-width: 980px) {
    /*Hide Mobile Prices*/
    .cart4 {
        display: none;
    }

    .mobile_show {
        display: none;
    }

}
/*Desktop*/
@media only screen and (min-width: 768px) and (max-width: 979px) {
    /*Hide Mobile Prices*/
    .mobile_show {
        display: none;
    }

    .cart4 {
        display: none;
    }

    /* Cart */
    div.div_padded_table div.tr div.cart1 {
        width: 50px;
    }

    div.div_padded_table div.tr div.cart2 {
        width: 200px;
    }

    div.div_padded_table div.tr div.cart3 {
        width: 80px;
    }

    div.div_padded_table div.tr div.cart4 {
        width: 80px;
    }

    div.div_padded_table div.tr div.orders1 {
        width: 80%;
    }

    div.div_padded_table div.tr div.orders2 {
        width: 19%;
    }
}
/*iPad*/
@media only screen and (min-width: 475px) and (max-width: 767px) {
    /* Cart */
    div.div_padded_table div.tr div.cart1 {
        width: 40px;
    }

    div.div_padded_table div.tr div.cart2 {
        width: 320px;
    }

    div.div_padded_table div.tr div.cart3 {
        display: none;
    }

    div.div_padded_table div.tr div.cart4 {
        width: 70px;
        float: right;
    }

    div.div_padded_table div.tr div.orders1 {
        width: 80%;
    }

    div.div_padded_table div.tr div.orders2 {
        width: 19%;
    }

}
/*Mobile*/
@media only screen and (min-width: 0px) and (max-width: 474px) {
    /* Cart */
    div.div_padded_table div.tr div.cart1 {
        width: 40px;
    }

    div.div_padded_table div.tr div.cart2 {
        width: 160px;
    }

    div.div_padded_table div.tr div.cart3 {
        display: none;
    }

    div.div_padded_table div.tr div.cart4 {
        width: 70px;
        float: right;
    }

    div.div_padded_table div.tr div.orders1 {
        width: 80%;
    }

    div.div_padded_table div.tr div.orders2 {
        width: 19%;
    }
}