/* Shopping cart style */
div.div_padded_table div.tr div.cart1 {
    width: 50px;
    float: left;
}

div.div_padded_table div.tr div.cart2 {
    width: 420px;
    float: left;
}

div.div_padded_table div.tr div.cart3 {
    width: 80px;
    float: left;
}

div.div_padded_table div.tr div.cart4 {
    width: 80px;
    width: 56px;
    float: right;
    text-align: right;
}

/* Div table: 430 */
div.div_padded_table {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
}

div.div_padded_table div.tr {
    padding: 8px;
    line-height: 1.5em;
    font-size: 11px;
}

div.div_padded_table div.tr div.td1 {
    width: 110px;
    float: left;
}

div.div_padded_table div.tr div.td2 {
    width: 360px;
    float: left;
}

div.div_padded_table div.tr div.td3 {
    width: 80px;
    float: left;
}

div.div_padded_table div.tr div.td4 {
    width: 80px;
    float: left;
}

div.table_header {
    font-weight: bold;
    color: #222222;
    font-size: 14px;
    border-bottom: 1px solid #EEEEEE;
}

div.div_padded_table div.even {
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
}

div.div_padded_table div.odd {
    background: #F7F7F7;
    border-bottom: 1px solid #EEEEEE;
}
