<main>
    <div class="page_bckgrnd_img">
        <div class="wrapper grey_page">

            <div id="popup_window" class="modal">
                <div class="modal-content">
                    <span id="close_span" class="close">&times;</span>
                    <p id="product-name"></p>
                    <div class="scrollable_120">
                        <p id="product-details"></p>
                    </div>

                    <div class="pad10"></div>

                    <div id="ingredientsList" class="scrollable_80 align_left">
                        <!--<p id="product-ingredients">ingredients</p>-->
                    </div>

                    <div class="prod_popup_img">
                        <img id="popup_img" width="600px" height="200px"/>
                    </div>

                    <div class="pad10 offset_page align_center">
                        <a class="button_flat button_flat_red button_flat_right add_to_cart_btn">Add</a>
                        <a class="button_flat button_flat_white cancel_order button_flat_left"
                           onclick="close_product_popup();">
                            Cancel
                        </a>
                        <div class="clear"><!-- clear --></div>
                    </div>
                </div>
            </div>

            <th:block th:each="product, iter : ${model}" th:object="${product}">
                <a th:id="${product.getName()}" class="product_link">
                    <div class="product_item menu_item_third">
                        <div class="product_item_pad">
                            <div class="menu_object_grey menu_hover">
                                <div class="menu_about content_on">
                                    <div class="menu_inner">
                                        <img class="product_img" th:src="${product.getImage().getUrl()}"/>
                                    </div>
                                </div>
                                <div class="menu_desc">
                                    <div class="menu_desc_pad">
                                        <p class="title" th:text="*{name}"></p>
                                        <p class="desc"
                                           th:text="${#strings.abbreviate('baikoliobaikoliobaikoliobaikolioooo02',30)} "></p>
                                        <p class="desc" th:text="|Sold: *{totalSales} time/s|"></p>
                                    </div>
                                </div>

                                <div class="menu_quick_add">
                                    <a th:id="${product.getName()}" class="menu_link button_flat button_flat_red button_flat_right select_btn">
                                        Select
                                    </a>
                                    <div class="clear"><!-- --></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <th:block th:if="${iter.index} != 0 and ${iter.index} % 3 == 0">
                    <div id="smallPad" class="pad200"></div>
                </th:block>

            </th:block>

            <th:block th:if="${#lists.size(model)} != 0">
                <div id="bigPad" class="pad240"></div>
                <div th:with="collectionSize=${#lists.size(model) - 1}">
                    <th:block th:each="nastedIter : ${#numbers.sequence(0, collectionSize / 3)}">
                        <div class="pad40"></div>
                    </th:block>
                </div>
            </th:block>

        </div>

    </div>
</main>