<main>
    <table>
        <a th:href="@{/admin/menus/add}" class="button_flat button_flat_blue">Add</a>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Action</th>
        </tr>

        <th:block th:each="menu,iter : ${model}">
            <tr>
                <td th:text="${iter.index + 1}"></td>
                <td th:text="${menu.getName()}">Ivanov</td>
                <td th:text="${menu.getDescription()}">Spanak, chesan</td>
                <td th:text="${menu.getPriority()}">purvi</td>
                <td>
                    <a th:href="@{/admin/menus/edit/{id}(id=${menu.getId()})}" class="button_flat button_flat_orange">Edit</a>
                    <a id="confirm" th:href="@{/admin/menus/delete/{id}(id=${menu.getId()})}" class="button_flat button_flat_red">Delete</a>
                    <a href="#" class="button_flat button_flat_grey">Details</a>
                </td>
            </tr>
        </th:block>

    </table>
</main>