<main>
    <div id="page-wrap">

        <h1>Multi-product Quantity-based Order Form</h1>
        <!--id="order-table"-->
        <div class="divTable">
            <table>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>

                </tr>
                <tr class="odd">
                    <td class="product-title">Sparkle No. 6&reg; - <em>Dry Line Marking Compound</em></td>
                    <td class="num-pallets"><input type="text" class="num-pallets-input" id="sparkle-num-pallets"></td>
                </tr>
                <tr class="even">
                    <td class="product-title">Turface&reg; MVP - <em>Calcined Clay Soil Conditioner</em></td>
                    <td class="num-pallets"><input type="text" class="num-pallets-input" id="turface-mvp-num-pallets">
                    </td>
                </tr>
                <tr class="odd">
                    <td class="product-title">Turface&reg; Pro League - <em>Calcined Clay Top Dressing</em></td>
                    <td class="num-pallets"><input type="text" class="num-pallets-input"
                                                   id="turface-pro-league-num-pallets"></td>
                </tr>
                <tr class="even">
                    <td class="product-title">Turface&reg; Pro League Red - <em>Calcined Clay Top Dressing</em></td>
                    <td class="num-pallets"><input type="text" class="num-pallets-input"
                                                   id="turface-pro-league-red-num-pallets"></td>
                </tr>
            </table>
        </div>


        <div class="clear"></div>
        <div class="pad10"></div>

    </div>
</main>