<main>
    <div class="wrapper">
        <div class="page_pad_smalltop align_left">

            <div class="breadcrumbs">
                <a href="/account">Account</a>
                Settings
            </div>

            <h1>Settings</h1>
            <p>Update your account.</p>

            <div class="account_box_wrap">
                <div class="account_box curve_me_3 shadow_element scale_me_hover">
                    <a href="/account/settings/details">
                        <i class="account_icon ion-edit"></i>
                        <span class="title">Edit basics</span>
                        <span class="desc">Name, billing address, phone and subscription</span>
                    </a>
                </div>
            </div>
            <div class="account_box_wrap">
                <div class="account_box curve_me_3 shadow_element scale_me_hover">
                    <a href="/account/settings/signin">
                        <i class="account_icon ion-ios-email-outline"></i>
                        <span class="title">Sign in info</span>
                        <span class="desc">Edit your sign in details</span>
                    </a>
                </div>
            </div>
            <!-- <div class="account_box_wrap">
                 <div class="account_box curve_me_3 shadow_element scale_me_hover">
                     <a href="#">
                         <i class="account_icon ion-key"></i>
                         <span class="title">Password</span>
                         <span class="desc">Update your Password</span>
                     </a>
                 </div>
             </div>
             <div class="account_box_wrap">
                 <div class="account_box curve_me_3 shadow_element scale_me_hover">
                     <a href="#">
                         <i class="account_icon ion-iphone"></i>
                         <span class="title">Subscriptions</span>
                         <span class="desc">Manage your subscriptions</span>
                     </a>
                 </div>
             </div>-->

            <div class="clear"><!-- --></div>
        </div>
    </div>
</main>