<!--<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head th:replace="fragments/head" th:with="pageTitle='${pageTitle}'"></head>-->

<!--<body>-->

<!--<main th:replace="${mapView}"></main>-->

<!--<footer th:replace="fragments/footer"></footer>-->
<!--</body>-->

<!--<script th:inline="javascript">-->
<!--function initMap() {-->
<!--var destination;-->
<!--/*<![CDATA[*/-->
<!--destination = /*[[${model}]]*/ null;-->
<!--/*]]>*/-->

<!--var myCenter = new google.maps.LatLng(destination.x, destination.y);-->
<!--var mapCanvas = document.getElementById("map");-->
<!--var mapOptions = {center: myCenter, zoom: 10};-->
<!--var map = new google.maps.Map(mapCanvas, mapOptions);-->
<!--var marker = new google.maps.Marker({position: myCenter});-->
<!--marker.setMap(map);-->
<!--google.maps.event.addListener(marker, 'click', function () {-->
<!--var infowindow = new google.maps.InfoWindow({-->
<!--content: "Pari nema deistvaite!!!"-->
<!--});-->
<!--infowindow.open(map, marker);-->
<!--});-->
<!--}-->
<!--</script>-->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW_AEkfqP5zRCJmRmbqRx7giXRRlVWK6o&callback=initMap"></script>-->

<!--</html>-->


<main>
    <div id="map" style="width:100%;height:500px"></div>
</main>

<script th:inline="javascript">
    function initMap() {
        var destination;
        /*<![CDATA[*/
        destination = /*[[${model}]]*/ null;
        /*]]>*/

        var myCenter = new google.maps.LatLng(destination.x, destination.y);
        var mapCanvas = document.getElementById("map");
        var mapOptions = {center: myCenter, zoom: 10};
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({position: myCenter});
        marker.setMap(map);
        google.maps.event.addListener(marker, 'click', function () {
            var infowindow = new google.maps.InfoWindow({
                content: "Pari nema deistvaite!!!"
            });
            infowindow.open(map, marker);
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW_AEkfqP5zRCJmRmbqRx7giXRRlVWK6o&callback=initMap"></script>
