<main>
    <div class="page_bckgrnd_img">

        <div id="" class="wrapper">

            <div class="login_spacer"><!-- --></div>

            <div class="white_page content_on" id="tabpanel_2">
                <div class="page_pad">

                    <!-- Register -->

                    <div class="align_left">
                        <h1>Register</h1>
                        <div class="sep_dash"><!-- sep --></div>

                        <div class="errorbox align_center" th:if="${user_register_error} != null"
                             th:text="${user_register_error}"></div>

                        <form name="reg_register" id="reg_register" method="post"
                              th:action="@{/register}" th:object="${userRegisterRequestModel}">
                            <div class="form">

                                <table width="100%" cellspacing="0" cellpadding="0" class="padded_table">
                                    <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <h3>Sign in Details</h3>
                                            <p>This is how you'll sign in to Pizza Nation.</p>
                                            <div class="pad5"><!-- spacer --></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%"><p><label for="email">Email*</label></p></td>
                                        <td width="80%">
                                            <input type="email" name="email" id="email" placeholder="Email"
                                                   class="form_item" th:field="*{email}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><p><label for="password">Password*</label></p></td>
                                        <td>
                                            <input type="password" name="password" id="password" placeholder="Password"
                                                   th:field="*{password}"
                                                   class="form_item">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><p><label for="confirmPassword">Confirm Password*</label></p></td>
                                        <td><input type="password" name="confirmPassword" id="confirmPassword"
                                                   placeholder="Password"
                                                   th:field="*{confirmPassword}"
                                                   class="form_item"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="sep_dash">&lt;!&ndash; sep &ndash;&gt;</div>
                                            <h3>Billing Address</h3>
                                            <p>Please enter your address as it appears on your credit card.</p>
                                            <div class="pad5"><!--spacer--></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><p><label for="firstName">First Name*</label></p></td>
                                        <td><input type="text" name="firstName" id="firstName"
                                                   placeholder="Your first name" th:field="*{firstName}"
                                                   class="form_item"></td>
                                    </tr>
                                    <tr>
                                        <td><p><label for="lastName">Last Name*</label></p></td>
                                        <td><input type="text" name="lastName" id="lastName"
                                                   placeholder="Your last name" th:field="*{lastName}"
                                                   class="form_item"></td>
                                    </tr>
                                    <tr>
                                        <td><p><label for="address">Address*</label></p></td>
                                        <td><input type="text" name="address" id="address"
                                                   placeholder="Address" class="form_item"
                                                   th:field="*{address}"></td>
                                    </tr>
                                    <tr>
                                        <td><p><label for="city">City*</label></p></td>
                                        <td><input type="text" name="city" id="city" placeholder="City"
                                                   th:field="*{city}"
                                                   class="form_item"></td>
                                    </tr>
                                    <tr>
                                        <td><p><label for="gender">Gender</label></p></td>
                                        <td>
                                            <select id="gender" name="gender" class="form_item form_item_auto"
                                                    th:field="*{gender}">
                                                <option th:each="gender : ${gendersList}" th:value="${gender}"
                                                        th:text="${#strings.capitalize(#strings.toLowerCase(gender))}">1
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="sep_dash">sep</div>
                                            <h3>Contact Details</h3>
                                            <p>Please enter your phone number in case we need to confirm your order.</p>
                                            <div class="pad5"><!--spacer--></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><p><label for="phone">Phone*</label></p></td>
                                        <td><input type="text" name="phone" id="phone"
                                                   placeholder="1234567890, (123)5467890, (123)456-7890, (123)4567890"
                                                   value="" class="form_item" th:field="*{phone}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><p><label>Email newsletters</label></p></td>
                                        <td><label><input type="checkbox" name="subscribe_email" id="subscribe_email"
                                                          value="1" checked="checked" th:field="*{emailNewsletters}">
                                            Send me great offers by
                                            email</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><p><label>Terms*</label></p></td>
                                        <td><label><input type="checkbox" name="agree" id="agree" value="1"
                                                          checked="checked" th:field="*{terms}"> I
                                            agree to the
                                            Pizza Nation <a th:href="@{/terms}" target="_blank"
                                                            id="show_terms">Terms</a></label></td>
                                    </tr>
                                    <tr>
                                        <td><!-- --></td>
                                        <td><input type="submit" name="register" id="register"
                                                   class="button_flat button_flat_green" value="Register"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>

                        <div class="clear"><!-- clear --></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="clear"><!-- clear --></div>
        <div class="clear"><!-- clear --></div>
    </div>
</main>