<div id="footer_top" th:fragment="footer_top">
    <div class="wrapper">
        <div class="footer_social">
            <a href="#" class="social_icon social_icon_facebook"></a>
            <a href="#" class="social_icon social_icon_instagram"></a>
            <a href="#" class="social_icon social_icon_twitter"></a>
        </div>
        <ul>
            <li><a th:href="@{/menu}"><span>Menu</span></a></li>
            <li><a th:href="@{/terms}"><span>Terms</span></a></li>
            <li><a th:href="@{/about}"><span>About</span></a></li>
            <li><a th:href="@{/contactUs}"><span>Contact</span></a></li>
            <li><a th:href="@{/terms#payment}"><span>Delivery &amp; Payment</span></a></li>
            <!--<li><a th:href="@{/#hold_header}"><span>Home</span></a></li>-->
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/admin}"><span>Admin</span></a>
            </li>
        </ul>
        <div class="clear"><!-- clear --></div>
    </div>
</div>